<nz-card [nzBordered]="false" class="mb-lg">
  <div class="avatarHolder">
    <img style="width:100px;height:100px;" [src]="userInfo?.avatar">
    <nz-divider nzDashed></nz-divider>
    <div>姓名：{{userInfo?.username}}</div>
    <div>身份：{{userInfo?.status}}</div>
    <div>个性签名：{{userInfo?.sign}}</div>
  </div>
  <nz-divider nzDashed></nz-divider>
  <div class="tags">
    <nz-tag [nzColor]="'#f50'">技术控</nz-tag>
    <nz-tag [nzColor]="'#2db7f5'">管理员</nz-tag>
    <nz-tag [nzColor]="'#87d068'">业绩优秀</nz-tag>
    <nz-tag [nzColor]="'#108ee9'">步步高升</nz-tag>
  </div>
</nz-card>