<nz-card [nzBordered]="false" class="mb-lg">
  <ng-container>
    <div class="avatarHolder">
      <img src="https://gw.alipayobjects.com/zos/rmsportal/BiazfanxmamNRoxxVxka.png">
      <div class="name">user.name}}</div>
      <div>user.signature}}</div>
    </div>
    <div class="detail">
      <p><i class="title"></i>user.title}}</p>
      <p><i class="group"></i>user.group}}</p>
      <p>
        <i class="address"></i>
        user.geographic.province.label}}
        user.geographic.city.label}}
      </p>
    </div>
    <nz-divider nzDashed></nz-divider>
    <div class="tags">
      <nz-tag [nzColor]="'#f50'">#f50</nz-tag>
      <nz-tag [nzColor]="'#2db7f5'">#2db7f5</nz-tag>
      <nz-tag [nzColor]="'#87d068'">#87d068</nz-tag>
      <nz-tag [nzColor]="'#108ee9'">#108ee9</nz-tag>
    </div>
  </ng-container>
</nz-card>·