<div nz-row [nzGutter]="24" class="pt-lg">
  <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6">
    <nz-card nzTitle="季度销售额" [nzExtra]="saleTemplate">
      <p>一月：32455¥</p>
      <p>二月：32455¥</p>
      <p>三月：暂无</p>
    </nz-card>
    <ng-template #saleTemplate>
      <nz-tooltip nzTitle="查看季度销售额">
        <i nz-tooltip nz-icon type="info-circle"></i>
      </nz-tooltip>
    </ng-template>
  </div>
  <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6">
    <nz-card nzTitle="季度销量" [nzExtra]="volumeTemplate">
      <p>一月：2571件</p>
      <p>二月：3467件</p>
      <p>三月：暂无</p>
    </nz-card>
    <ng-template #volumeTemplate>
      <nz-tooltip nzTitle="查看季度销量">
        <i nz-tooltip nz-icon type="info-circle"></i>
      </nz-tooltip>
    </ng-template>
  </div>
  <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6">
    <nz-card nzTitle="用户支付比例" [nzExtra]="payWayTemplate">
      <p>支付宝：40%</p>
      <p>微信支付：40%</p>
      <p>现金：20%</p>
    </nz-card>
    <ng-template #payWayTemplate>
      <nz-tooltip nzTitle="查看用户支付方式偏好">
        <i nz-tooltip nz-icon type="info-circle"></i>
      </nz-tooltip>
    </ng-template>
  </div>
  <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6">
    <nz-card nzTitle="广告转化率" [nzExtra]="adTemplate">
      <p>一月：30%</p>
      <p>二月：30%</p>
      <p>三月：30%</p>
    </nz-card>
    <ng-template #adTemplate>
      <nz-tooltip nzTitle="查看广告转化率">
        <i nz-tooltip nz-icon type="info-circle"></i>
      </nz-tooltip>
    </ng-template>
  </div>
</div>